.basket {
  &__row {
    padding-block: 22px 78px;
  }

  &__empty {
    font: {
      size: 42px;
      weight: 600;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__item {
    background: $white-color-bg;
    padding: 21px 17px;
    border: 1px solid #ededf0;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
    align-items: center;
    grid-gap: 15px;
    height: 156px;
    position: relative;

    &:last-child {
      height: auto;
    }

    .product__edit-wrapper {
      justify-content: center;
      gap: 14px;
    }

    &-pic {
      max-width: 100%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-name {
      font: {
        size: 18px;
        weight: 600;
      }
    }

    &-delete {
      position: absolute;
      background: none;
      border: none;
      right: 11px;
      top: 11px;
    }

    &-description {
      line-height: 130%;
    }

    &-price {
      font: {
        size: 18px;
        weight: 600;
      }
      text-align: end;
      em {
        font: {
          style: normal;
        }
        color: $accent-color;
      }
    }
  }

  &__info {
    @extend .basket__item;
    display: flex;
    justify-content: space-between;

    em {
      font: {
        style: normal;
        weight: 600;
        size: 22px;
      }
      color: $accent-color;
    }
  }

  &__total {
    background: $white-color-bg;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid $border-color;
    position: relative;

    &-title {
      font: {
        size: 18px;
        weight: 600;
      }
      padding-bottom: 10px;
    }

    &-text {
      display: flex;
      justify-content: space-between;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 20px;
    }

    &-price {
      padding-block: 16px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: $border-color;
      }

      &::after {
        top: 156px;
      }

      &::before {
        top: 204px;
      }
    }

    &-label {
      margin-right: 13px;
    }

    &-promocode {
      padding-top: 20px;
      display: grid;
      grid-template: 1fr 1fr / 1fr 2fr 1fr;
      grid-row-gap: 20px;
      align-items: center;
    }

    #promoCodeInput {
      border: 1px solid $border-color;
      padding: 11px 0 11px 12px;
    }

    &-confirm-btn {
      border-radius: 0;
      border-width: 1px;
    }

    &-checkout-btn {
      grid-column: span 3;
      width: 60%;
      justify-self: center;
      padding-block: 17px;
    }
  }
}
