.delivery {
  &__row {
    padding-top: 57px;
  }

  &__title {
    font-size: 42px;
    padding-bottom: 27px;
  }

  &__description {
    padding-bottom: 27px;
    line-height: 130%;
    font-weight: 500;
  }

  &__secondary-title {
    font-size: 18px;
    padding-bottom: 15px;
  }

  &__text {
    line-height: 130%;
    font-weight: 500;

    em {
      color: $accent-color;
      text-decoration: underline;
      font-style: normal;
    }
  }

  &__img {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__map {
    padding-bottom: 57px;
    iframe {
      width: 100%;
      height: 550px;
    }
  }
}
