.header {
  background: $beige-color;

  &__row {
    padding-block: 12px;
    align-items: center;
  }

  &__bottom {
    background: $white-color-bg;
  }

  .nav {
    &__list {
      display: flex;
      gap: 14px;
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__city,
  &__phone,
  &__basket {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__city {
    width: 25%;
    margin-left: 30px;
  }

  &__social {
    width: 10%;
    svg {
      cursor: pointer;
    }
  }

  @mixin selectOpen {
    visibility: visible;
    opacity: 1;
    transition: 0.1s;
    transform: translateY(0);
  }

  &__select:hover > .select__collapse {
    @include selectOpen;
  }

  @keyframes listArrowAnim {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);
    }
  }

  &__select:hover > .select__icon {
    animation: listArrowAnim 0.5s;
  }

  &__select {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 20px;
      top: 16px;
      right: 0;

      &:hover + .select__collapse {
        @include selectOpen;
      }
    }
  }

  .select {
    &__collapse {
      position: absolute;
      top: 30px;
      right: 0;
      background: $white-color-bg;
      width: 270px;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: 0.1s;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
      transform: translateY(-10px);
    }

    &__item {
      padding: 20px 16px;
      cursor: pointer;
      position: relative;
      z-index: 0;

      &:hover {
        background: #f7f7f7;
      }
    }
  }

  .city-collapse {
    background: $beige-color;
    width: 200px;
    left: 0;
  }

  .city-select:hover {
    background: $beige-color-hover;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    font-size: 14px;
    text-transform: uppercase;
    &-list {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
    }
  }
}
