.footer {
  background: $footer-bg;
  white-space: pre-line;

  &__row {
    padding-block: 58px;
  }

  &__benefits {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 14px;
    }
  }

  &__description {
    padding-top: 45px;
    font: {
      size: 12px;
    }
  }

  &__title {
    font: {
      size: 16px;
      weight: 600;
    }
  }

  &__nav-list {
    font-size: 14px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__time {
    padding-top: 5px;
  }

  &__social {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    .social__icons {
      display: flex;
      justify-content: flex-end;
      gap: 18px;
      align-items: flex-end;
    }
  }

  &__title {
    align-self: start;
  }
}
